.completed-workout {
  font-family: $font-display;
  background-color: $color-off-white;
  border-radius: 5px;
  height: 7rem;
  width: 100%;
  padding: 0.5rem 2rem;
  cursor: pointer;

  &:active {
    background-color: $color-secondary;
  }


  &:not(:last-of-type) {
    margin-bottom: 1rem;
  }

  &--selected {
    background-color: $color-secondary;
    box-shadow: 0 0.5rem 1rem rgba($color-black, .1);
  }
}

.date-text {
  text-align: right;
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
}

.completed-title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;

}