// COLOR VARIABLES
$color-primary: #177ede;
$color-primary-light: #13ede2;
$color-primary-dark: #05376b;
$color-primary-faint: #dcecfd;

$color-secondary: #fcc728;
$color-secondary-light: #fce9b9;

$color-success: #007d26;
$color-danger: #e91235;

$color-off-white: #fdfdfd;
$color-grey-lightest: #c5c5c5;
$color-grey-light: #e8e8e8;
$color-grey: #a4a4a4;
$color-grey-dark: #7c7c7c;
$color-grey-darkest: #474747;
$color-black: #000000;

$gradient-primary: linear-gradient(145deg, rgba($color-primary,1) 0%, rgba($color-primary-light,1) 100%);
$gradient-secondary: linear-gradient(145deg, rgba($color-secondary, 0.8) 0%, rgba($color-secondary-light,0.8) 100%);
$gradient-black: linear-gradient(145deg, rgba($color-black, 0.8) 0%, rgba($color-grey-dark,0.8) 100%);

$max-width: 600px;
$max-height: 1200px;

// BREAK POINTS
@mixin maxDimensions {
  max-width: $max-width;
  max-height: $max-height;
}


// FONT VARIABLES
$font-primary: 'Neuton', serif;
$font-display: 'Nanum Gothic', sans-serif;



/*Universal declaration - will apply these settings to all elements, also select all before and after pseudoelements - prevents strange behaviour*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;

  box-sizing: inherit; /*forcing inheritance on each element from body - this is considered good practice*/
}

html {
  font-size: 62.5%; /*1rem = 10px*/
  height: 100%;
  font-family: $font-primary;
  color: $color-primary-dark;
}

body {
  box-sizing: border-box; /*changes box model so that borders and paddings are not added to total width/height specified for a box*/
  //padding: 2rem; /* padding around body - not inherited to other elements*/
  height: 100%;
  width: 100%;
  @include maxDimensions;
  background: $gradient-black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

select {
  -webkit-appearance: none;
  background: $color-off-white url('https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-128.png') no-repeat;
  background-size: 2rem;
  background-position: right 1rem center;
}

// Required to stop img stretching on iPhone
img {
  align-self: center;
  height: 100%;
}

// make scroll-bar transparent
::-webkit-scrollbar {
  background: rgba(0,0,0,0);
  width: 1px;
}


