
.ghost-btn-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 2.5rem 0;
  padding: 0 2rem 0 2rem;
  justify-content: center;
}

.btn {
  &,
  &:link,
  &:visited {
    font-family: $font-display;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10rem;
    transition: all .2s;
    cursor: pointer;
  }

  &--primary {
    background-color: $color-primary-dark;
    color: $color-off-white;
  }

  &--secondary {
    background-color: $color-off-white;
    color: $color-primary-dark;
    box-shadow: 0 2rem 6rem rgba($color-black, .3);
  }

  &--main {
    border: 1px solid $color-primary-dark;
    width: 60%;
    font-size: 2rem;
    align-self: center;
    margin: 2rem;
    padding: 1rem;
    box-shadow: 0 1rem 4rem rgba($color-black, .2);
  }


  &--footer {
    border: 1px solid $color-primary-dark;
    height: 2.8rem;
    font-size: 1.6rem;
    width: 20%;
  }


  &--ghost {
    border: 1px solid $color-grey;
    background-color: $color-grey-light;
    color: $color-grey;
    height: 2.5rem;
    width: 8rem;
    margin: 0.5rem;
    flex-shrink: 0;
    text-transform: lowercase;
    box-shadow: 0 2rem 6rem rgba($color-black, .3);


    &--selected {
      border: 1px solid $color-primary-dark;
      background-color: $color-secondary;
      color: $color-primary-dark;
      box-shadow: none;
    }
  }


}

.close-btn {
      color: $color-primary-dark;
      font-size: 3rem;
      transition: all .2s;
      text-decoration: none;
      align-self: flex-end;
      margin-bottom: 1.5rem;

  &--white {
    color: $color-off-white;
  }

  &--fs {
    padding: 2rem 2rem 0 0;
  }
}

.slide-on-btn {
  height: 3.5rem;
  width: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  box-shadow: 0 2rem 6rem rgba($color-black, .3);
  margin-left: 1rem;


  &--edit {
    background-color: $color-secondary;
    color: $color-primary-dark;
  }

  &--remove {
    background-color: $color-danger;
    color: $color-off-white;
  }

  &--copy {
    background-color: $color-primary;
    color: $color-off-white;
  }
}

.txt-btn {
  text-decoration: underline;
}