.container {
  background: $gradient-primary;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  //overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  @include maxDimensions;
}



.main-body {
  width: 100%;
  height: calc(100% - 6rem - 8rem);
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  background-color: $color-grey-light;
  overflow-y: scroll;
  //overflow-x: hidden;
  @include maxDimensions;


  .exercise-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $color-off-white;
    padding: 1rem;
    transition: all 500ms;

    &:not(:last-of-type) {
      margin-bottom: 0.6rem;
    }

    &__title {
      border-bottom: 1px solid $color-primary-dark;
      //margin-bottom: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .far {
        margin-right: 2rem;
      }
    }

    &__sets {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      overflow-x: hidden;

    }

    &__set-container {
      display: flex;
      height: 3.5rem;
      align-items: center;
      position: relative;
      transition: all 500ms cubic-bezier(0.46, -0.36, 1, 1), background-color, font-weight, color 0s;



      &:not(:last-of-type) {
        //margin-bottom: 0.5rem;
      }

      &__stats {
        display: flex;
        width: 50%;
        flex-shrink: 0;
        transition: transform 1s;
        position: absolute;

        .weight {
          //margin-right: 4rem;
          width: 50%;
        }

        .reps {
          width: 50%;
        }
      }

      &__timer {
        display: flex;
        width: 50%;
        flex-shrink: 0;
        position: absolute;
        transform: translateX(45vw); // start position away 100% to right of top left of container (relative parent)
        transition: transform 1s;
        justify-content: flex-end;
        padding-right: 3.2rem;

        // if screen width greater than max-width
        @media only screen and (min-width: $max-width) {
          transform: translateX(calc((45vw - (100vw - 600px)/2)));
        }
      }
    }

  }

  .active {
    font-weight: bold;
    background-color: $color-primary-faint;
  }

  .undo {
    background-color: $color-secondary-light;
  }

  .complete {
    color: $color-grey;
  }

}

.create-workout-overview {
  height: 100%;
  background: $gradient-primary;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.slide-on-btn-container {
  width: 200px;
  height: 100%;
  position: absolute;
  transform: translateX(100vw); // start position away 200% to right of top left of container (relative parent)
  transition: transform 500ms;
  display: flex;
  background-color: $color-off-white;
}


.done-container {
  display: flex;
  align-items: center;
}
