.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 2rem 1.5rem 2rem;

  &--horizontal {
    flex-direction: row;
  }
}

.form-label {
  width: 100%;
  font-family: $font-display;
  display: flex;
  justify-content: space-between;

  &--white {
    color: $color-off-white;
  }
}

.form-input {
  font-size: 1.6rem;
  font: $font-primary;
  padding: 1.5rem 1rem;
  border-radius: 5px;
  background-color: $color-off-white;
  border: none;
  border-bottom: 3px solid transparent;
  width: 100%;
  align-self: center;

  &--new-workout {
    padding: 0.5rem 1rem;
    margin: 0 1.5rem;
  }

  //&--full-length {
  //  width: 87%;
  //}

  &--select {
    border-bottom: none;
  }




  &:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba($color-black, .1);
    border-bottom: 3px solid $color-secondary;
    background-color: $color-off-white;
  }

  &--full-length {

  }



}

.new-exercise {
  display: flex;
  flex-direction: column;
  height: calc(100% - 6rem - 8rem);
  width: 100%;
  position: absolute;
  margin: 0;
  background: $gradient-primary;
  backdrop-filter: blur(10px);

  &--content {
    display: flex;
    flex-direction: column;
    height: 100%;



    .form-create-new-exercise {
      padding-bottom: 1.5rem;
    }
  }
}

.transparent-form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba($color-off-white, 0.5);
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 10px;
  transition: all 300ms cubic-bezier(0.46, -0.36, 1, 1);

  &__title {
    display: flex;
    justify-content: space-between;
    font-weight: 600;

    .far {
      //margin-right: 2rem;
    }
  }
}


.two-input-container {
  display: flex;
  margin: 0.5rem 0rem 0.5rem 0rem;
  align-items: center;
  font-size: 1.6rem;
  transition: all 500ms cubic-bezier(0.46, -0.36, 1, 1);


  &__label {

  }

}