.far, .fas {

  &:focus {
    color: red;
  }
}

.fa-rotate-45 {
  transform: rotate(315deg);
}

.fas-form-input {
  margin-bottom: 0.5rem;
  font-size: 2rem;
  color: $color-primary-dark;
}

.fa-plus-circle {
  margin-left: 2rem;
}

.far-title {
  font-size: 1.5rem;
  position: absolute;
  display: flex;
  right: -2rem;
}

.image {
  width: 100%;
  margin-bottom: 3rem;
}
