.far {
}

.icons-container {
  display: flex;
  justify-content: space-around;
  width: calc(100% / 3);
  align-items: center;
  color: $color-grey-dark;

  .footer--icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  }
}

.fa-rotate-45 {
  transform: rotate(315deg);
}
