.container {
  background: $gradient-primary;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header {
  display: flex;
  width: 100%;
  height: 8rem;
  background-color: $color-grey-light;
  box-shadow: 0 2rem 4rem rgba($color-black, .2);
  align-items: center;
  justify-content: space-between;

}

.footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  height: 12%;
  max-height: 8rem;
  background-color: $color-grey-light;
  box-shadow: 0 2rem 4rem rgba($color-black, .2);

  &__btn {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &--main {
      height: 6rem;
      width: 6rem;
      background-color: $color-primary;
      color: $color-off-white;
      font-size: 2rem;
      font-family: $font-display;
      box-shadow: 0 2rem 4rem rgba($color-black, .4);
    }


  }

}

.main-body {
  width: 100%;
  height: calc(100% - 6rem - 8rem);
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  background-color: $color-grey-light;
  overflow-y: scroll;


  .exercise-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $color-off-white;
    padding: 1rem;

    &:not(:last-of-type) {
      margin-bottom: 0.6rem;
    }

    &__title {
      border-bottom: 1px solid $color-primary-dark;
      margin-bottom: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .far {
        margin-right: 2rem;
      }
    }

    &__sets {
      display: flex;
      flex-direction: column;
      padding: 1rem;
    }

    &__set-container {
      display: flex;
      height: 2.5rem;
      align-items: center;

      &:not(:last-of-type) {
        margin-bottom: 0.5rem;
      }

      &__stats {
        display: flex;
        width: 50%;

        .weight {
          margin-right: 4rem;
        }
      }

      &__timer {
        display: flex;
        width: 50%;
      }
    }
  }

  .active {
    font-weight: bold;
    background-color: $color-primary-faint;
  }

  .complete {
    color: $color-grey;
  }


}