.heading {
  font-family: $font-display;
  margin: 0 0 1.5rem 2rem;
  position: relative;

  &--white {
    color: $color-off-white;
  }

  &--1 {
    font-size: 3rem;
    margin-bottom: 0;
  }

  &--2 {
    font-size: 2.6rem;
  }

  &--3 {
    font-size: 2rem;
  }

  &--4 {
    font-size: 1.6rem;
  }

  &--label {
    font-size: 2rem;
    margin: 0 0 0.5rem 0;
  }

  &--login-form {
    font-size: 3rem;
    margin: 0 0 1.5rem 0;
    align-self: center;

  }

  &--current-exercise {
    margin-bottom: 0.5rem;
  }

  &--transparent-box {
    margin: 0 0 1.5rem 0;
    position: relative;
    display: flex;
  }
}

.paragraph {
  font-size: 1.6rem;
  margin: 0 0 1.5rem 2rem;
}

.form-msg {
  font-size: 1.6rem;
  position: relative;
  //top: 1rem;

  &--success {
    color: $color-success;

  }

  &--error {
    color: $color-danger;
  }
}



