.chart {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-off-white;
  border-radius: 5px;
  height: 15rem;
  width: 100%;
}

.saved-workout {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-off-white;
  border-radius: 5px;
  height: 5rem;
  width: 100%;

  &:not(:last-of-type) {
    margin-bottom: 1rem;
  }

  &--selected {
    background-color: $color-secondary;
    box-shadow: 0 0.5rem 1rem rgba($color-black, .1);
  }
}