/*Universal declaration - will apply these settings to all elements, also select all before and after pseudoelements - prevents strange behaviour*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /*forcing inheritance on each element from body - this is considered good practice*/
}

html {
  font-size: 62.5%;
  /*1rem = 10px*/
  height: 100%;
  font-family: "Neuton", serif;
  color: #05376b;
}

body {
  box-sizing: border-box;
  /*changes box model so that borders and paddings are not added to total width/height specified for a box*/
  height: 100%;
}

select {
  -webkit-appearance: none;
  background: #fdfdfd url("https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-128.png") no-repeat;
  background-size: 2rem;
  background-position: right 1rem center;
}

img {
  align-self: center;
  height: 100%;
}

.new-exercise-content {
  overflow-y: scroll;
}

.exercises {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  background: linear-gradient(145deg, #177ede 0%, #13ede2 100%);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
}

.main-body {
  width: 100%;
  height: calc(100% - 6rem - 8rem);
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  background-color: #e8e8e8;
  overflow-y: scroll;
}
.main-body .exercise-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fdfdfd;
  padding: 1rem;
  transition: all 500ms;
}
.main-body .exercise-block:not(:last-of-type) {
  margin-bottom: 0.6rem;
}
.main-body .exercise-block__title {
  border-bottom: 1px solid #05376b;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-body .exercise-block__title .far {
  margin-right: 2rem;
}
.main-body .exercise-block__sets {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  overflow-x: hidden;
}
.main-body .exercise-block__set-container {
  display: flex;
  height: 3.5rem;
  align-items: center;
  position: relative;
  transition: all 500ms cubic-bezier(0.46, -0.36, 1, 1), background-color, font-weight, color 0s;
}
.main-body .exercise-block__set-container__stats {
  display: flex;
  width: 50%;
  flex-shrink: 0;
  transition: transform 1s;
  position: absolute;
}
.main-body .exercise-block__set-container__stats .weight {
  width: 50%;
}
.main-body .exercise-block__set-container__stats .reps {
  width: 50%;
}
.main-body .exercise-block__set-container__timer {
  display: flex;
  width: 50%;
  flex-shrink: 0;
  position: absolute;
  transform: translateX(45vw);
  transition: transform 1s;
  justify-content: flex-end;
  padding-right: 3.2rem;
}
.main-body .active {
  font-weight: bold;
  background-color: #dcecfd;
}
.main-body .undo {
  background-color: #fce9b9;
}
.main-body .complete {
  color: #a4a4a4;
}

.create-workout-overview {
  height: 100%;
  background: linear-gradient(145deg, #177ede 0%, #13ede2 100%);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.slide-on-btn-container {
  width: 200px;
  height: 100%;
  position: absolute;
  transform: translateX(100vw);
  transition: transform 500ms;
  display: flex;
  background-color: #fdfdfd;
}

.add-to-current {
  display: flex;
  height: 35rem;
  background: linear-gradient(145deg, #177ede 0%, #13ede2 100%);
  padding: 0.5rem;
  transition: transform 500ms;
}

.edit-set {
  display: flex;
  height: 27rem;
  background: linear-gradient(145deg, #177ede 0%, #13ede2 100%);
  padding: 0.5rem;
  transition: transform 500ms;
}

.done-container {
  display: flex;
  align-items: center;
}

.ghost-btn-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 2.5rem 0;
  padding: 0 2rem 0 2rem;
  justify-content: center;
}

.btn, .btn:link, .btn:visited {
  font-family: "Nanum Gothic", sans-serif;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10rem;
  transition: all 0.2s;
  cursor: pointer;
}
.btn--primary {
  background-color: #05376b;
  color: #fdfdfd;
}
.btn--secondary {
  background-color: #fdfdfd;
  color: #05376b;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}
.btn--main {
  border: 1px solid #05376b;
  width: 60%;
  font-size: 2rem;
  align-self: center;
  margin: 2rem;
  padding: 1rem;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2);
}
.btn--footer {
  border: 1px solid #05376b;
  height: 2.8rem;
  font-size: 1.6rem;
  width: 20%;
}
.btn--ghost {
  border: 1px solid #a4a4a4;
  background-color: #e8e8e8;
  color: #a4a4a4;
  height: 2.5rem;
  width: 7rem;
  margin: 0.5rem;
  flex-shrink: 0;
  text-transform: lowercase;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  font-size: 1.2rem;
}
.btn--ghost--selected {
  border: 1px solid #05376b;
  background-color: #fcc728;
  color: #05376b;
  box-shadow: none;
}

.close-btn {
  color: #05376b;
  font-size: 3rem;
  transition: all 0.2s;
  text-decoration: none;
  align-self: flex-end;
  margin-bottom: 1.5rem;
}
.close-btn--white {
  color: #fdfdfd;
}
.close-btn--fs {
  padding: 2rem 2rem 0 0;
}

.slide-on-btn {
  height: 3.5rem;
  width: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  margin-left: 1rem;
}
.slide-on-btn--edit {
  background-color: #fcc728;
  color: #05376b;
}
.slide-on-btn--remove {
  background-color: #e91235;
  color: #fdfdfd;
}
.slide-on-btn--copy {
  background-color: #177ede;
  color: #fdfdfd;
}

.txt-btn {
  text-decoration: underline;
}

.far:focus, .fas:focus {
  color: red;
}

.fa-rotate-45 {
  transform: rotate(315deg);
}

.fas-form-input {
  margin-bottom: 0.5rem;
  font-size: 2rem;
  color: #05376b;
}

.fa-plus-circle {
  margin-left: 2rem;
}

.far-title {
  font-size: 1.5rem;
  position: absolute;
  display: flex;
  right: -2rem;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 2rem 1.5rem 2rem;
}
.input-container--horizontal {
  flex-direction: row;
}

.form-label {
  width: 100%;
  font-family: "Nanum Gothic", sans-serif;
  display: flex;
  justify-content: space-between;
}
.form-label--white {
  color: #fdfdfd;
}

.form-input {
  font-size: 1.6rem;
  font: "Neuton", serif;
  padding: 1.5rem 1rem;
  border-radius: 5px;
  background-color: #fdfdfd;
  border: none;
  border-bottom: 3px solid transparent;
  width: 100%;
  align-self: center;
}
.form-input--new-workout {
  padding: 0.5rem 1rem;
  margin: 0 1.5rem;
}
.form-input--select {
  border-bottom: none;
}
.form-input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #fcc728;
  background-color: #fdfdfd;
}

.new-exercise {
  display: flex;
  flex-direction: column;
  height: calc(100% - 6rem - 8rem);
  width: 100%;
  position: absolute;
  margin: 0;
  background: linear-gradient(145deg, #177ede 0%, #13ede2 100%);
  backdrop-filter: blur(10px);
}
.new-exercise--content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.new-exercise--content .form-create-new-exercise {
  padding-bottom: 1.5rem;
}

.transparent-form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(253, 253, 253, 0.5);
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 10px;
  transition: all 300ms cubic-bezier(0.46, -0.36, 1, 1);
}
.transparent-form-group__title {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}
.two-input-container {
  display: flex;
  margin: 0.5rem 0rem 0.5rem 0rem;
  align-items: center;
  font-size: 1.6rem;
  transition: all 500ms cubic-bezier(0.46, -0.36, 1, 1);
}
.footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  height: 12%;
  max-height: 8rem;
  background-color: #e8e8e8;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  z-index: 100;
  overflow-y: hidden;
}
.footer__btn {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__btn--inactive {
  opacity: 0.5;
}
.footer__btn--main {
  height: 6rem;
  width: 6rem;
  background-color: #177ede;
  color: #fdfdfd;
  font-size: 2rem;
  font-family: "Nanum Gothic", sans-serif;
  box-shadow: 0 0rem 3rem rgba(0, 0, 0, 0.4);
}

.icons-container {
  display: flex;
  justify-content: space-around;
  width: calc(100% / 3);
  align-items: center;
  color: #7c7c7c;
}
.icons-container .footer__icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.icons-container .footer__icon--inactive {
  color: #c5c5c5;
}

.header {
  display: flex;
  width: 100%;
  height: 8rem;
  background-color: #e8e8e8;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}
.header__icon {
  display: flex;
  justify-content: center;
  height: 40%;
  width: 22%;
}

.body-background {
  height: 100%;
  background: linear-gradient(145deg, #177ede 0%, #13ede2 100%);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
}

.display-none {
  display: none;
}

.visibility-hidden {
  display: none;
}

.gradient {
  background: linear-gradient(145deg, #177ede 0%, #13ede2 100%);
}

.width70 {
  width: 70%;
}

.width45 {
  width: 45%;
}

.m-b {
  margin-bottom: 1.5rem;
}

.flex-container {
  display: flex;
}

.flex-container--col {
  display: flex;
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.heading {
  font-family: "Nanum Gothic", sans-serif;
  margin: 0 0 1.5rem 2rem;
  position: relative;
}
.heading--white {
  color: #fdfdfd;
}
.heading--1 {
  font-size: 3rem;
  margin-bottom: 0;
}
.heading--2 {
  font-size: 2.6rem;
}
.heading--3 {
  font-size: 2rem;
}
.heading--4 {
  font-size: 1.6rem;
}
.heading--current-exercise {
  margin-bottom: 0.5rem;
}
.heading--transparent-box {
  margin: 0 0 1.5rem 0rem;
  position: relative;
  display: flex;
}

.form-error-msg {
  font-size: 1.6rem;
  color: #e91235;
  transform: translateY(-1.8rem);
}

.chart {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fdfdfd;
  border-radius: 5px;
  height: 15rem;
  width: 100%;
}

.saved-workout {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fdfdfd;
  border-radius: 5px;
  height: 5rem;
  width: 100%;
}
.saved-workout:not(:last-of-type) {
  margin-bottom: 1rem;
}
.saved-workout--selected {
  background: linear-gradient(145deg, rgba(252, 199, 40, 0.8) 0%, rgba(252, 233, 185, 0.8) 100%);
}

/*# sourceMappingURL=main.css.map */
