<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=0"/>
    <link rel="stylesheet" href="../styling/main.css">
    <script src="https://kit.fontawesome.com/558b08b205.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" type="image/png" href="../images/dumbbell-solid.png">
    <title>GymApp</title>

</head>
<body>
    <div class="container">
        <div class="header">
            <h1 class="heading heading--1" id="workout-title">Legs</h1>
            <div class="header__icon">
                <img src="../images/gymapp_logo.png" alt="Gymapp logo">
            </div>
        </div>
        <div class="main-body">


<!--            <div class="exercise-block">-->
<!--                <div class="exercise-block__title">-->
<!--                    <div class="heading heading&#45;&#45;current-exercise heading&#45;&#45;3">Bench Press</div>-->
<!--                    <div class="far fa-plus-square"></div>-->
<!--                </div>-->

<!--                <div class="exercise-block__sets">-->
<!--                    <div class="exercise-block__set-container slider">-->
<!--                        <div class="exercise-block__set-container__stats">-->
<!--                            <div class="weight">20 kg</div><div class="reps">10 reps</div>-->
<!--                        </div>-->
<!--                        <div class="exercise-block__set-container__timer">-->
<!--                            <div class="timer-container display-none"><span class="far fa-clock">&nbsp</span><span class="counter">00:00</span></div>-->
<!--                            <div class="done-container display-none"><span class="txt-btn">Done</span>&nbsp&nbsp<span class="fas fa-check-square"></span></div>-->
<!--                        </div>-->
<!--                        <div class="slide-on-btn-container">-->
<!--                            <div class="slide-on-btn slide-on-btn&#45;&#45;remove">-->
<!--                                <div class="far fa-trash-alt"></div>-->
<!--                                <div class="icon-descriptor">remove</div>-->
<!--                            </div>-->
<!--                            <div class="slide-on-btn slide-on-btn&#45;&#45;edit">-->
<!--                                <div class="far fa-edit"></div>-->
<!--                                <div class="icon-descriptor">edit</div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="exercise-block__set-container slider">-->
<!--                        <div class="exercise-block__set-container__stats">-->
<!--                            <div class="weight">20 kg</div><div class="reps">10 reps</div>-->
<!--                        </div>-->
<!--                        <div class="exercise-block__set-container__timer">-->
<!--                            <div class="timer-container display-none"><span class="far fa-clock">&nbsp</span><span class="counter">00:00</span></div>-->
<!--                            <div class="done-container display-none"><span class="txt-btn">Done</span>&nbsp&nbsp<span class="fas fa-check-square"></span></div>-->
<!--                        </div>-->
<!--                        <div class="slide-on-btn-container">-->
<!--                            <div class="slide-on-btn slide-on-btn&#45;&#45;remove">-->
<!--                                <div class="far fa-trash-alt"></div>-->
<!--                                <div class="icon-descriptor">remove</div>-->
<!--                            </div>-->
<!--                            <div class="slide-on-btn slide-on-btn&#45;&#45;edit">-->
<!--                                <div class="far fa-edit"></div>-->
<!--                                <div class="icon-descriptor">edit</div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="exercise-block__set-container slider">-->
<!--                        <div class="exercise-block__set-container__stats">-->
<!--                            <div class="weight">20 kg</div><div class="reps">10 reps</div>-->
<!--                        </div>-->
<!--                        <div class="exercise-block__set-container__timer">-->
<!--                            <div class="timer-container display-none"><span class="far fa-clock">&nbsp</span><span class="counter">00:00</span></div>-->
<!--                            <div class="done-container display-none"><span class="txt-btn">Done</span>&nbsp&nbsp<span class="fas fa-check-square"></span></div>-->
<!--                        </div>-->
<!--                        <div class="slide-on-btn-container">-->
<!--                            <div class="slide-on-btn slide-on-btn&#45;&#45;remove">-->
<!--                                <div class="far fa-trash-alt"></div>-->
<!--                                <div class="icon-descriptor">remove</div>-->
<!--                            </div>-->
<!--                            <div class="slide-on-btn slide-on-btn&#45;&#45;edit">-->
<!--                                <div class="far fa-edit"></div>-->
<!--                                <div class="icon-descriptor">edit</div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </div>


        <div class="footer">
            <div class="icons-container">
                <div class="footer__icon footer__icon--undo footer__icon--inactive">
                    <div class="fas fa-reply"></div>
                    <div class="icon-descriptor">undo</div>
                </div>
            </div>
            <div class="footer__btn footer__btn--main footer__btn--inactive">Finish</div>
            <div class="icons-container">
                <div class="footer__icon footer__icon--add">
                    <div class="fas fa-dumbbell"></div>
                    <div class="icon-descriptor">add exercise</div>
                </div>
            </div>
        </div>

    </div>

    <div class="add-to-current form--slide-up display-none">
        <form class="transparent-form-group">
            <div class="flex-container space-between align-center">
                <div class="heading heading--3 heading--transparent-box">Add exercise</div>
                <a href="#" class="close-btn add-to-current--close">&times;</a>
            </div>
            <select class="form-input form-input--select m-b" name="exercises" id="exercises">
                <option value="-1" selected disabled hidden>Select exercise to add</option>
                <option value="Bench press (flat)">Bench press (flat)</option>
                <option value="Bench press (incline)">Bench press (incline)</option>
                <option value="Bench press (decline)">Bench press (decline)</option>
            </select>
            <div class="two-input-container space-between m-b">
                <div class="width45">
                    <div class="form-label">Weight:
                        <div class="icons-container">
                            <div class="fas fas-form-input fa-minus-circle weight-minus"></div>
                            <div class="fas fas-form-input fa-plus-circle weight-plus"></div>
                        </div>
                    </div>
                    <input inputmode="decimal" placeholder="kg" min="0" autocomplete="off" id="set-weight" class="form-input">
                </div>
                <div class="width45">
                    <div class="form-label">Reps:
                        <div class="icons-container">
                            <div class="fas fas-form-input fa-minus-circle reps-minus"></div>
                            <div class="fas fas-form-input fa-plus-circle reps-plus"></div>
                        </div>
                    </div>
                    <input inputmode="numeric" placeholder="reps" min="0" autocomplete="off" id="set-reps" class="form-input">
                </div>
            </div>
            <button type="submit" class="btn btn--main btn--primary" id="exercise-submit">Add!</button>
            <div class="form-msg form-msg--error" id="add-to-current-err"></div>
        </form>
    </div>

    <div class="edit-set form--slide-up display-none">
            <form class="transparent-form-group">

                <div class="flex-container space-between align-center">
                    <div class="heading heading--3 heading--transparent-box" id="edit-set--title">Update set</div>
                    <a href="#" class="close-btn edit-set--close">&times;</a>
                </div>
                <div class="two-input-container space-between">
                    <div class="width45">
                        <div class="form-label">Weight:
                            <div class="icons-container">
                                <div class="fas fas-form-input fa-minus-circle weight-minus"></div>
                                <div class="fas fas-form-input fa-plus-circle weight-plus"></div>
                            </div>
                        </div>
                        <input type="number" inputmode="decimal" placeholder="kg" min="0" autocomplete="off" id="edit-weight" class="form-input">
                    </div>
                    <div class="width45">
                        <div class="form-label">Reps:
                            <div class="icons-container">
                                <div class="fas fas-form-input fa-minus-circle reps-minus"></div>
                                <div class="fas fas-form-input fa-plus-circle reps-plus"></div>
                            </div>
                        </div>
                        <input type="number" inputmode="numeric" placeholder="reps" min="0" autocomplete="off" id="edit-reps" class="form-input">
                    </div>
                </div>
                <button type="submit" class="btn btn--main btn--primary" id="set-submit">Update</button>
                <div class="form-msg form-msg--error" id="edit-set-err"></div>

        </form>
    </div>

    <div class="finish-workout form--slide-up display-none">
        <div class="transparent-form-group">
            <div class="flex-container space-between align-center">
                <div class="heading heading--3 heading--transparent-box">Alert</div>
                <a href="#" class="close-btn finish-workout--close">&times;</a>
            </div>
            <p class="paragraph">After finishing this workout you will not be able to add or complete any further sets.
                <br>
                <br>
                Do you still wish to finish your workout?
            </p>
            <div class="flex-container justify-center">
                <button class="btn btn--yesno btn--secondary" id="cancel-finish">Cancel</button>
                <button class="btn btn--yesno btn--primary" id="confirm-finish">Finish</button>
            </div>
            <div class="form-msg visibility-hidden">Content</div>

        </div>
    </div>



    <script type="module" src="../javascript/currentWorkout/currentWorkout.js"></script>


</body>
</html>