<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=0"/>
    <link rel="stylesheet" href="styling/main.css">
    <script src="https://kit.fontawesome.com/558b08b205.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" type="image/png" href="images/dumbbell-solid.png">
    <title>Define workout</title>
</head>
<body>

<div class="container">

    <div class="header">
        <h1 class="heading heading--1" id="create-edit-title">Create workout</h1>
        <div class="burger-btn">
            <span></span>
        </div>
    </div>

    <div class="main-body">
        <div class="createEdit-workout-overview">
            <div class="exercise-overview-tab">
                <div class="exercise-overview-tab__title">
                    <div class="heading heading--3">Workout name:</div>
                </div>
                <input type="text" required autocomplete="off" class="form-input form-input--workout-name" name="workout-name" id="workout-name">
            </div>


            <div class="exercise-overview-tab">
                <div class="exercise-overview-tab__title">
                    <div class="heading heading--3">Bench Press</div>
                    <div class="far fa-plus-square far-add-set"></div>
                </div>
                <div class="new-set-container">
                    <span class="new-set-container--label">Weight:</span><input type="text" class="form-input form-input--new-workout">
                    <span class="new-set-container--label">reps:</span><input type="text" class="form-input form-input--new-workout">
                    <span class="far fa-trash-alt"></span>
                </div>
                <div class="new-set-container">
                    <span class="new-set-container--label">Weight:</span><input type="text" class="form-input form-input--new-workout">
                    <span class="new-set-container--label">reps:</span><input type="text" class="form-input form-input--new-workout">
                    <span class="far fa-trash-alt"></span>

                </div>
                <div class="new-set-container">
                    <span class="new-set-container--label">Weight:</span><input type="text" class="form-input form-input--new-workout">
                    <span class="new-set-container--label">reps:</span><input type="text" class="form-input form-input--new-workout">
                    <span class="far fa-trash-alt"></span>
                </div>
            </div>

            <div class="exercise-overview-tab">
                <div class="exercise-overview-tab__title">
                    <div class="heading heading--3">Bench Press</div>
                    <div class="far fa-plus-square far-add-set"></div>
                </div>
                <div class="new-set-container">
                    <span class="new-set-container--label">Weight:</span><input type="text" class="form-input form-input--new-workout">
                    <span class="new-set-container--label">reps:</span><input type="text" class="form-input form-input--new-workout">
                    <span class="far fa-trash-alt"></span>
                </div>
                <div class="new-set-container">
                    <span class="new-set-container--label">Weight:</span><input type="text" class="form-input form-input--new-workout">
                    <span class="new-set-container--label">reps:</span><input type="text" class="form-input form-input--new-workout">
                    <span class="far fa-trash-alt"></span>
                </div>
                <div class="new-set-container">
                    <span class="new-set-container--label">Weight:</span><input type="text" class="form-input form-input--new-workout">
                    <span class="new-set-container--label">reps:</span><input type="text" class="form-input form-input--new-workout">
                    <span class="far fa-trash-alt"></span>
                </div>
            </div>

            <div class="btn btn--main btn--primary">Create workout!</div>

        </div>

        <div class="new-exercise display-none">
            <div class="new-exercise-content">
                <div class="form form-create-new-exercise">

                    <a href="#" class="close-btn" id="new-exercise-close">&times;</a>
                    <h2 class="heading heading--white heading--2" id="new-exercise-heading">
                        Add new exercise
                    </h2>

                    <h4 class="heading heading--white heading--4">Exercise name</h4>

                    <div class="input-container">
                        <input type="text" required autocomplete="off" class="form-input" name="new-exercise-name" id="new-exercise-name">
                    </div>
                    <h4 class="heading heading--white heading--4">Select muscles targeted:</h4>
                    <div class="ghost-btn-container">
                        <div class="btn btn--ghost">back</div>
                        <div class="btn btn--ghost">chest</div>
                        <div class="btn btn--ghost">legs</div>
                        <div class="btn btn--ghost">core</div>
                        <div class="btn btn--ghost">triceps</div>
                        <div class="btn btn--ghost">biceps</div>
                    </div>
                    <div class="btn btn--main btn--primary">Create new exercise!</div>
                </div>
            </div>

        </div>
    </div>


    <div class="footer">

                <select class="form-input form-input--footer form-input--select" name="exercises" id="exercises">
                    <option value="-1" selected disabled hidden>Select exercise to add</option>
                    <option value="Bench press (flat)">Bench press (flat)</option>
                    <option value="Bench press (incline)">Bench press (incline)</option>
                    <option value="Bench press (decline)">Bench press (decline)</option>
                    <option value="New exercise (not listed)">New exercise (not listed)</option>
                </select>
                <div class="btn btn--footer btn--secondary">Add</div>


    </div>

</div>

<script type="text/javascript" src="/javascript/index.js"></script>

</body>
</html>