<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=0"/>
  <link rel="stylesheet" href="../styling/main.css">
  <script src="https://kit.fontawesome.com/558b08b205.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon" type="image/png" href="../images/dumbbell-solid.png">
  <title>Gymapp - error</title>

</head>
<body>
<div class="container">
  <div class="header">
    <h1 class="heading heading--1" id="workout-title">Error</h1>
    <div class="header__icon">
      <a href="/"><img src="../images/gymapp_logo.png" alt="Gymapp logo"></a>
    </div>
  </div>
  <div class="main-body">
    <div class="body-background" id="error-container">
      <div class="transparent-form-group">
        <div class="transparent-form-group__title">
          <div class="heading heading--3 heading--transparent-box">404 - page not found</div>
        </div>
        <img class="image" src="../images/happyface.JPG" alt="Happyface">
        <p class="paragraph center-text">I am a happy face do what I say.</p>
      </div>
    </div>
  </div>


  <div class="footer">

  </div>

</div>












<script type="module" src="../javascript/completedWorkout/completedWorkout.js"></script>


</body>
</html>