<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=0"/>
    <link rel="stylesheet" href="styling/main.css">
    <script src="https://kit.fontawesome.com/558b08b205.js" crossorigin="anonymous"></script>
    <title>GymApp</title>

</head>
<body>
    <div class="container">
        <div class="header">
            <h1 class="heading heading--1" id="workout-title">Legs</h1>
            <div class="burger-btn">
                <span></span>
            </div>
        </div>
        <div class="main-body">

            <div class="exercise-block">
                <div class="exercise-block__title">
                    <div class="heading heading--exercise">Bench Press</div>
                    <div class="far fa-question-circle"></div>
                </div>

                <div class="exercise-block__sets">
                    <div class="exercise-block__set-container complete">
                        <div class="exercise-block__set-container__stats">
                            <div class="weight">20kg</div><div class="reps">10 reps</div>
                        </div>
                        <div class="exercise-block__set-container__timer">
                            <div class=""><span class="far fa-clock"></span> Completed: 00:00</div>
                        </div>
                    </div>
                    <div class="exercise-block__set-container complete">
                        <div class="exercise-block__set-container__stats">
                            <div class="weight">20kg</div><div class="reps">10 reps</div>
                        </div>
                        <div class="exercise-block__set-container__timer">
                            <div class=""><span class="far fa-clock"></span> Completed: 00:00</div>
                        </div>
                    </div>
                    <div class="exercise-block__set-container active">
                        <div class="exercise-block__set-container__stats">
                            <div class="weight">20kg</div><div class="reps">10 reps</div>
                        </div>
                        <div class="exercise-block__set-container__timer">
                            <div class=""><span class="far fa-clock"></span> Completed: 00:00</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="exercise-block">
                <div class="exercise-block__title">
                    <div class="heading heading--exercise">Bench Press</div>
                    <div class="far fa-question-circle"></div>
                </div>

                <div class="exercise-block__sets">
                    <div class="exercise-block__set-container complete">
                        <div class="exercise-block__set-container__stats">
                            <div class="weight">20kg</div><div class="reps">10 reps</div>
                        </div>
                        <div class="exercise-block__set-container__timer">
                            <div class=""><span class="far fa-clock"></span> Completed: 00:00</div>
                        </div>
                    </div>
                    <div class="exercise-block__set-container complete">
                        <div class="exercise-block__set-container__stats">
                            <div class="weight">20kg</div><div class="reps">10 reps</div>
                        </div>
                        <div class="exercise-block__set-container__timer">
                            <div class=""><span class="far fa-clock"></span> Completed: 00:00</div>
                        </div>
                    </div>
                    <div class="exercise-block__set-container active">
                        <div class="exercise-block__set-container__stats">
                            <div class="weight">20kg</div><div class="reps">10 reps</div>
                        </div>
                        <div class="exercise-block__set-container__timer">
                            <div class=""><span class="far fa-clock"></span> Completed: 00:00</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="exercise-block">
                <div class="exercise-block__title">
                    <div class="heading heading--exercise">Bench Press</div>
                    <div class="far fa-question-circle"></div>
                </div>

                <div class="exercise-block__sets">
                    <div class="exercise-block__set-container complete">
                        <div class="exercise-block__set-container__stats">
                            <div class="weight">20kg</div><div class="reps">10 reps</div>
                        </div>
                        <div class="exercise-block__set-container__timer">
                            <div class=""><span class="far fa-clock"></span> Completed: 00:00</div>
                        </div>
                    </div>
                    <div class="exercise-block__set-container complete">
                        <div class="exercise-block__set-container__stats">
                            <div class="weight">20kg</div><div class="reps">10 reps</div>
                        </div>
                        <div class="exercise-block__set-container__timer">
                            <div class=""><span class="far fa-clock"></span> Completed: 00:00</div>
                        </div>
                    </div>
                    <div class="exercise-block__set-container active">
                        <div class="exercise-block__set-container__stats">
                            <div class="weight">20kg</div><div class="reps">10 reps</div>
                        </div>
                        <div class="exercise-block__set-container__timer">
                            <div class=""><span class="far fa-clock"></span> Completed: 00:00</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="exercise-block">
                <div class="exercise-block__title">
                    <div class="heading heading--exercise">Bench Press</div>
                    <div class="far fa-question-circle"></div>
                </div>

                <div class="exercise-block__sets">
                    <div class="exercise-block__set-container complete">
                        <div class="exercise-block__set-container__stats">
                            <div class="weight">20kg</div><div class="reps">10 reps</div>
                        </div>
                        <div class="exercise-block__set-container__timer">
                            <div class=""><span class="far fa-clock"></span> Completed: 00:00</div>
                        </div>
                    </div>
                    <div class="exercise-block__set-container complete">
                        <div class="exercise-block__set-container__stats">
                            <div class="weight">20kg</div><div class="reps">10 reps</div>
                        </div>
                        <div class="exercise-block__set-container__timer">
                            <div class=""><span class="far fa-clock"></span> Completed: 00:00</div>
                        </div>
                    </div>
                    <div class="exercise-block__set-container active">
                        <div class="exercise-block__set-container__stats">
                            <div class="weight">20kg</div><div class="reps">10 reps</div>
                        </div>
                        <div class="exercise-block__set-container__timer">
                            <div class=""><span class="far fa-clock"></span> Completed: 00:00</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="exercise-block">
                <div class="exercise-block__title">
                    <div class="heading heading--exercise">Bench Press</div>
                    <div class="far fa-question-circle"></div>
                </div>

                <div class="exercise-block__sets">
                    <div class="exercise-block__set-container complete">
                        <div class="exercise-block__set-container__stats">
                            <div class="weight">20kg</div><div class="reps">10 reps</div>
                        </div>
                        <div class="exercise-block__set-container__timer">
                            <div class=""><span class="far fa-clock"></span> Completed: 00:00</div>
                        </div>
                    </div>
                    <div class="exercise-block__set-container complete">
                        <div class="exercise-block__set-container__stats">
                            <div class="weight">20kg</div><div class="reps">10 reps</div>
                        </div>
                        <div class="exercise-block__set-container__timer">
                            <div class=""><span class="far fa-clock"></span> Completed: 00:00</div>
                        </div>
                    </div>
                    <div class="exercise-block__set-container active">
                        <div class="exercise-block__set-container__stats">
                            <div class="weight">20kg</div><div class="reps">10 reps</div>
                        </div>
                        <div class="exercise-block__set-container__timer">
                            <div class=""><span class="far fa-clock"></span> Completed: 00:00</div>
                        </div>
                    </div>
                </div>
            </div>


        </div>


        <div class="footer">
            <div class="icons-container">
                <div class="footer--icon">
                    <div class="far fa-edit"></div>
                    <div class="icon-descriptor">edit</div>
                </div>
                <div class="footer--icon">
                    <div class="far fa-trash-alt"></div>
                    <div class="icon-descriptor">delete</div>
                </div>
            </div>
            <div class="footer__btn footer__btn--main">Done!</div>
            <div class="icons-container">
                <div class="footer--icon">
                    <div class="far fa-plus-square"></div>
                    <div class="icon-descriptor">add new</div>
                </div>
                <div class="footer--icon">
                    <div class="far fa-trash-alt"></div>
                    <div class="icon-descriptor">delete</div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>