<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=0"/>
    <link rel="stylesheet" href="styling/main.css">
    <title>GymApp</title>

</head>
<body>
    <div class="container">
        <div class="header">
            <h1 class="heading heading--1">GymApp!</h1>
        </div>
        <div class="main-body">
            <h1 class="heading heading--1">GymApp!</h1>
        </div>
        <div class="footer">
            <h1 class="heading heading--1">GymApp!</h1>
        </div>
    </div>

</body>
</html>